@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-bold-webfont.woff2) format('woff2'),
    url(../fonts/raleway-bold-webfont.woff) format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url(../fonts/raleway-regular-webfont.woff2) format('woff2'),
    url(../fonts/raleway-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'raleway', Tahoma, Arial, sans-serif;
    font-size: 14px;
    color: #9a9a9a;
    line-height: 1.5;
}

.container {
    width: 1054px;
    margin: 0 auto;
}

#header {
    height: 42px;
    background-color: black;
    color: #fff;
}

#header .container {
    display: flex;
    justify-content: space-between;
}

#header h1 {
    flex: 1;
    font-size: 15px;
    line-height: 42px;
    text-transform: uppercase;
}

#header h1 span {
    font-weight: bold;
    color: #24ba9f;
}

nav {
    flex: 2;
}

ul.menu {
text-align: right;
}

li.menu_element {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

li.menu_element:last-child  {
    padding-right: 0;
}

li.menu_element > a {
    padding: 0 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 42px;
    letter-spacing: 0.5px;
}

li.menu_element > a:last-child {
    padding-right: 0;
}

ul.dropdown {
    position: absolute;
    top: 120%;
    overflow: hidden;
    height: 0;
    width: 120px;
    margin-left: -2px;
    background: black;
    transition: 0.4s;
}

li.dropdown_element {
    text-align: right;
    line-height: 25px;
    padding: 5px 0;
}

li.dropdown_element a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

li.menu_element:hover > ul.dropdown {
    height: 105px;
    transition: 0.4s;
    overflow: initial;
}

ul.dropdown:before {
    content: "";
    display: block;
    position: absolute;
    top:-6px;
    left: 45px;
    z-index: 3;
    height: 13px;
    width: 13px;
    background: black;
    transform: rotate(45deg);
}




.slider {
    height: 505px;
    padding: 100px 0;
    background: rgba(249,249,249,1);
    background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(207,207,215,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(100%, rgba(207,207,215,1)));
    background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(207,207,215,1) 100%);
    background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(207,207,215,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(207,207,215,1) 100%);
    background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(207,207,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#cfcfd7', GradientType=0 );
}

.slider .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

button.navigator {
    background: none;
    border: none;
    color: #24ba9f;
    font-size: 90px;
    text-decoration: none;
}

button.navigator.left {
    text-align: left;
}

button.navigator.right {
    text-align: right;
}

.slider_box {
    display: flex;
    align-items: center;
}

.imageslider {
    width: 400px;
}

.info {
    text-align: center;
    width: 440px;
    margin-right: 55px;
}

.info h1 {
    font-size: 40px;
    color: black;
    line-height: 1;
    text-transform: uppercase;
}

.info h1 span {
    font-weight: bold;
    color: #24ba9f;
}

.info p {
    color: #000;
    margin: 40px 0;
    text-align: center;
}

.info button {
    padding: 17px 31px 10px;
    background: #24ba9f;
    border: none;
    border-radius: 10px;
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
}






section.container {
    padding: 27px 0 95px 0;
}

ul.news {
    display: flex;
    justify-content: space-between;
}
ul.news li {
   position: relative;
}

.news h3 {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.news h3:after {
    content: '';
    display: block;
    width: 140px;
    height: 6px;
    background: #24ba9f;
    margin-left: -2px;
}

.news_box {
    position: relative;
}

.news_box img {
    display: block;
}

.news_box h3 {
    position: absolute;
    bottom: 16px;
    padding: 11px 20px 21px 16px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.news_item {
    display: none;
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #cccccc;
}

.news_item h3 {
    margin-bottom: 10px;
}

.news_item p {
    color: gray;
    font-size: 14px;
}

ul.news li:hover .news_item {
    display: block;
}





#price_wrapper {
    background:#f1f1f1;
}

#price_wrapper .container {
    padding: 50px 0;
}
 
#price_wrapper h2 {
    font-size: 24px;
    text-transform: uppercase;
}

#price_wrapper h2:after {
    content: '';
    display: block;
    width: 200px;
    height: 10px;
    background: #24ba9f;
}





footer.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.copyright {
    flex: 2;
}

.media {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

ul.socialmedia {
    display: flex;
    flex: 1;
    justify-content: left;
}

ul.socialmedia li {
    margin-right: 7px;
}

ul.socialmedia li:last-child {
    margin-right: 0;
}

ul.socialmedia li:first-child {
    margin-left: 2px;
}

ul.socialmedia li img {
    width: 32px;
    height: auto;
}

h4 {
    flex: 1;
    text-align: right;
    text-transform: uppercase;
}

h4 span {
    font-weight: bold;
}





























